body {
    margin: 0; padding: 0;
    background: #ff758f;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden; touch-action: none;
}

#game-container {
    width: 100vw; height: 100vh;
    background: linear-gradient(to bottom, #ffafbd, #ffc3a0);
    position: relative;
}

#jugador {
    position: absolute; bottom: 50px;
    font-size: 60px; left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.item { position: absolute; font-size: 35px; z-index: 5; }

#hud {
    position: absolute; top: 40px; width: 100%;
    display: flex; justify-content: space-around;
    color: white; font-size: 1.2rem; font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.mensaje-pantalla {
    display: none; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); background: white;
    color: #ff4d6d; padding: 30px; border-radius: 25px;
    width: 80%; text-align: center; z-index: 100;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

button {
    background: #ff4d6d; color: white; border: none;
    padding: 12px 25px; border-radius: 10px; cursor: pointer;
    font-weight: bold; margin-top: 15px;
}